<h3>{{name}}</h3>
<ul>
  <li>Twitter:
    <a href="http://www.twitter.com/{{twitter}}" target='_blank'>@{{twitter}}</a>
  </li>
  <li>GitHub:
    <a href="http://www.github.com/{{github}}" target='_blank'>{{github}}</a>
  </li>
</ul>
{{yield}}
