<h3>Github Organizations List</h3>
<ul>
  <li>{{link-to 'Facebook' 'org.repos' 'facebook'}}</li>
  <li>{{link-to 'Netflix' 'org.repos' 'netflix'}}</li>
  <li>{{link-to 'Yahoo' 'org.repos' 'yahoo'}}</li>
  <li>{{link-to 'Emberjs' 'org.repos' 'emberjs'}}</li>
</ul>
{{outlet}}
